.post-table{
    border: solid 2px  rgb(179, 178, 178);
    width: 93%;
    /* text-align: center !important; */
    margin: auto;
    margin-top: 50px !important;
    padding: 15px !important;
}
.spantext{
    margin-left: -10px;
  }

  .stuhr{
    margin-top: 40px !important;
  }

  .per-detail{
    color:rgb(22, 70, 109);
    padding-bottom: 15px;
  }
  /* .form-div{
    padding: 20px;
    border: 1px solid;
    margin-top: 50px;
  } */














