*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container-fluid{
    display: flex;


}

main{
    width: 100%;
 

}
.sidebar{
    /* background-image: linear-gradient(rgb(8, 17, 24), rgb(41, 57, 70)); */
    /* background-color: black; */
    background-color: #063a41;
    color: white;
    height: 100vh;
    width: 260px;
    transition: all 0.5s;
    margin-left: -12px;
    /* position: fixed; */

}
.top_section{
    display: flex;
    align-items: center;
    /* padding: 20px 15px; */

}

.logo{
    font-size: 20px;

}
.bars{
    font-size: 20px;
 display: flex;
 margin-left: 50px;   
}
.link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap:15px;
    transition: all 0.5s;
    text-decoration: none;
    margin-top: 10px;
}
.link:hover{
    /* background-color: lightskyblue; */
    background-color: #063a41;
    color: black;
    transition: all 0.5s;

}
.active{
    /* background: lightskyblue; */
    background-color: #063a41;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
    margin-top: -7px;

}

/* .sidebar{
    background-image: linear-gradient(rgb(8, 17, 24), rgb(41, 57, 70));
    color: white;
    height: 100vh;
    width: 260px;
    transition: all 0.5s;
    margin-left: -12px;
  } */
  /* .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .logo{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    background-color: lightgrey;
  }
  .bars{
    display: flex;
    font-size: 22px;
    cursor: pointer;
    margin-left: 50px;
    transition: all 0.5s;
  }
  .link{
    display: flex;
    padding: 10px 15px;
    color: white;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
  }
  .link:hover{
    background-color: rgb(41, 57, 70);
    color: white;
    transition: all 0.5s;
  }
  .active{
    background-color: rgb(41, 57, 70);
    color: white;
  }
  .link_text{
  font-size: 15px;
  text-decoration: none !important;
  }
  .icon{
    font-size: 16px;
  text-decoration: none;
  } */