.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.label {
  margin-left: -65%;
}

.label2 {
  margin-left: -48%;
}

.remark {
  margin-left: -90%;

}

.tble {
  width: 90%;
  height: 100%;
  margin: auto !important;
}

.add {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  margin-left: 30px !important;
  font-family: serif;
  margin-top: 30px !important;
}

.add2 {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  margin-left: 50px !important;
  font-family: serif;
  margin-top: 30px !important;
}

.feeForm {
  width: 100% !important;
  height: 120% !important;
  border: solid 2px black !important;
  margin-top: 30px !important;
  /* margin-left: -35px; */
}

.form {
  width: 90% !important;
  margin: auto !important;
  margin-top: 60px !important;
}

.next-btn {
  width: 100px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid gray;
  margin-top: 12px;
  margin-left: 10px !important;

}

.btns {
  width: 100px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid gray;
  margin-left: 20px !important;
  margin-top: 12px;

}

.M-div {
  width: 90%;
  height: 10% !important;
  border: solid 1px gray;
  margin-left: 30px;
}

.m-div2 {
  width: 100%;
  height: 100% !important;
  border: solid 1px gray;
  margin-left: 30px;
  margin-left: -20px !important;
}

.border2 {
  width: 96%;
  height: 100%;
  border: 2px solid black;
  margin: auto !important;
}

.dfelx {
  display: flex !important;
}

.dasfee {
  display: flex !important;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 30px !important;
  font-family: serif;
}

.sec {
  margin-top: 30px !important;
}

.At-Form {
  width: 90%;
  height: 100%;
  border: solid 1px gray;
  margin-left: 30px;
  margin-top: 30px;
}

.At-Labal{
  margin-left: -300px;
}
.At-Labal2{
  margin-left: -250px;
}
.At-Input {
  width: 30%;
  margin: auto !important;
  margin-top: 50px !important;
}


















.login-container {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px !important;
}

.login-row {
  margin-left: 200px !important;
  padding: 30px;
  margin-right: 200px !important;
  border-radius: 10px;
  background-color: white;
}

.tbl {
  text-align: center !important;
}

.input-text1 {
  border-radius: 3px !important;
  font-size: 14px !important;
  padding: 8px !important;
}

.input-text {
  background-color: #69910cf0 !important;
  color: white !important;
  border: none !important;
}

.input-text2 {
  background-color: #0fcec5f0 !important;
  color: white !important;
  border: none !important;
}

.input-table {
  padding-left: 200px;
  padding-right: 200px;
}

.home-form-btn {
  background: none !important;
  color: #000000 !important;
  border: none !important;
  font-size: 20px !important;
}

.btnLogin {
  border-radius: 10px !important;
  background-color: #000000 !important;
  border: none !important;
  margin-right: 20px;
  color: #fffcfc !important;
}

.inputs {
  padding: 7px !important;
  border-radius: 2px !important;
}

.inputs1 {
  padding: 7px !important;
  border-radius: 2px !important;
  width: 97.7% !important;
  margin: auto;
}

.btn-dashboard {
  background: none !important;
  border: none !important;
  color: #000000 !important;
}

.dashboards {
  background-image: linear-gradient(rgb(8, 17, 24), rgb(63, 85, 104));
  background-color: black;
  padding: 10px 10px 10px 0px;
  text-align: right;
  width: 100%;
  /* height: 10%; */
  color: white;
}

.dash-row {
  padding: 10px 30px 10px 30px;
}

.dashboard-card {
  background-color: white;
  margin-top: 100px !important;
  /* margin-bottom: 50px !important; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px 50px 20px;
  border-radius: 10px;
  margin: auto;
  width: 95% !important;
  text-align: center;
  position: relative;
  font-size: 14px;
  /* height:100vh; */
  position: static;
}

.btn-edit {
  background: none !important;
  color: #000000 !important;
  border: none !important;
}

.btn-del {
  background: none !important;
  color: #000000 !important;
  border: none !important;
}

@media screen and (max-width: 1270px) {
  .login-row {
    margin-left: 50px !important;
    padding: 30px;
    margin-right: 50px !important;
    border-radius: 10px;
    background-color: white;
  }
}

@media screen and (max-width: 600px) {
  .dashboard-card {
    width: 80%;
  }

}

.header .container {
  justify-content: center;
}

.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}

.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}

table {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top {
  /* width: 100%;
  height: 10%; */
  background-color: black;
}

.dropbtn {
  background: none !important;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px px;
  text-decoration: none;
  font-size: 13px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}

.modal-btn {
  background: none !important;
  border: none !important;
  color: #000000 !important;
}

.accordion-button:not(.collapsed) {
  border: none !important;
  background: none !important;
  color: grey !important;
}

.accordion-button {
  color: grey !important;
}

.ui.dimmer {
  height: 380px !important;
}

.ui.dimmer {
  background-color: #00000036 !important;
  height: 100vh !important;
  margin: auto !important;
}

.ui.modal {
  height: 400px !important;
  margin: auto !important;
  margin-top: 150px !important;
  margin-left: 310px !important;
}

.main-form {
  padding: 20px 100px 20px 100px;
}

.main-div {
  padding: 20px 10px 20px 10px !important;
}

@media screen and (min-width: 300px) and (max-width: 922px) {
  .main-form {
    padding: 20px 10px 20px 10px !important;
    
  }
  .addCa{
    /* margin: auto; */
    margin-left: 100px;
  }

  .M-div {
    width: 90%;
    height: 10% !important;
    border: solid 1px gray;
  }
  .btns {
    width: 100px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid gray;
    margin-top: -1px;
    margin-left: -5px;
  }
  .next-btn {
    width: 100px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid gray;
    margin-top: -1px;
    margin-left: -10px;


  
  }
}

.contact-2 {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}

.form-input {
  padding: 13px !important;
}

.img-contact {
  width: 100%;
}

.form-contact {
  padding: 0px 20px 20px 0px !important;
  width: 100%;
}

.contact-heading {
  padding: 20px;
  color: #333333;
}

.form-btn {
  width: 100%;
  text-align: center;
  background-color: #f4464f !important;
  margin: auto;
  border: none !important;
}
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .form-contact {
    padding: 0px 0px 10px 0px;
    margin-left: 0px;
    width: 100%;
  }


}

.forms {
  padding: 10px 10px 10px 10px !important;
}


.mainlayout {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

p {
  font-size: 15px;
}

.container-fluid {
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.sidebar {
  background-image: linear-gradient(rgb(8, 17, 24), rgb(41, 57, 70));
  color: white;
  height: 100vh;
  width: 260px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  /* background-color: lightgrey; */
}

.bars {
  display: flex;
  font-size: 22px;
  cursor: pointer;
  /* margin-left: 50px; */
  transition: all 0.5s;
}

.link {
  display: flex;
  padding: 10px 15px;
  color: white;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(41, 57, 70);
  color: white;
  transition: all 0.5s;
}

.active {
  background-color: rgb(41, 57, 70);
  color: white;
}

.link_text {
  font-size: 15px;
  text-decoration: none !important;
}

.icon {
  font-size: 18px;
  text-decoration: none;
  color: white !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem !important;
}

.dropdown-menu {
  background: none !important;
  border: none !important;
  width: 80% !important;
  height: 200px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown {
  padding: 2px 0px 4px 45px !important;
}

.crud {
  background-image: linear-gradient(to bottom right, rgb(8, 17, 24), rgb(74, 99, 120));
  padding: 0px 10px 0px 10px;
  text-align: right !important;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}